#root {
  margin: 0 auto;
  text-align: center;
}
* {
  margin: 0;
}
.container {
  display: flex;
  width: 377px;
  height: fit-content;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}
.addButton {
  background-color: #3c82f6;
  color: white;
  border: none;
  display: flex;
  padding: 4px 16px;
  align-items: center;
  font-size: 18px;
}
button {
  border: none;
  border-radius: 5px;
}
.nonClicked {
  background-color: #f3f4f6;
  color: #71717a;
}
.clicked {
  color: #f3f4f6;
  background-color: #3c82f6;
}
.filterButtons {
  display: flex;
  gap: 5px;
  width: 95%;
}
.filterButtons button {
  border: none;
  height: 35px;
  padding: 4px 12px;
}
input {
  border-radius: 5px;
}
input[type="text"] {
  color: #71717a;
  height: 30px;
  padding: 8px 16px;
  width: 250px;
  border-color: #d7d7d8;
}
input[type="text"]:focus {
  border: 1px solid #3b73ed;
}
.addTask {
  display: flex;
  gap: 10px;
}
.footer {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  color: #6b7280;
}
a {
  text-decoration: none;
  color: #3b73ed;
}
label {
  display: flex;
  width: 345px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 8px;
}
label div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logs div {
  width: 345px;
  padding: 10px;
  background-color: #f9fafb;
  border-radius: 8px;
  margin: 10px auto;
}
label:hover {
  background-color: #f0f0f0;
}
label:hover button {
  background-color: #f0f0f0;
}
label p,
.logs h4 {
  width: 245px;
  word-wrap: break-word;
}
.todos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.logs div {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
.logs h4 {
  margin-bottom: 10px;
}
.logs button {
  margin: 10px 0px 0px 170px;
  padding: 5px;
}
ul {
  text-align: start;
  padding-inline-start: 10px;
}
.deleteButton {
  color: red;
  background-color: #f9fafb;
  border: none;
  padding: 7px;
}
.deleteButton:hover {
  background: #fef2f2;
}
input[type="checkbox"]:hover {
  transform: scale(1.1);
  border: black;
}
.remove {
  display: none;
}
.clearCompleted {
  justify-content: space-between;
  height: 60px;
  align-items: center;
  width: 345px;
  color: #6b7280;
}
.clearCompletedButton {
  color: red;
  background: none;
}
